
/* -------------------------#Responsive------------------------ */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container{
    padding: 0 !important;
  }
  .padding-row{
    padding-top: 30px !important;
    padding:20px;
  }
  .padding-card{
    padding: 20px 0px 0px 0px;
  }
  .padding-footer{
    padding: 25px 20px 20px 20px;
  }
  .font-footer{
    font-size: 14px;
  }
  .crad-image{
    background-color:#AACCEB;
    margin-bottom: 25px;
  }
  .card-roadmap{
    width: 260px !important;
    height: 110px !important;
    background: #23233F !important;
    border-radius: 25px !important;
  }
  .image-size{
    width: 85%;
  }
  .row{
    --bs-gutter-x: 0 !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container{
    padding: 0 !important;
  }
  .padding-row{
    padding-top: 30px !important;
    padding:20px;
    margin-bottom: 25px;
  }
  .padding-card{
    padding: 20px 20px 0px 20px;
  }
  .padding-footer{
    padding: 25px 30px 20px 30px;
  }
  .font-footer{
    font-size: 16px;
  }
  .crad-image{
    width: 285px;
    height: 330px;
    background-color:#AACCEB;
    margin-bottom: 25px;
    padding: 20px;
  }
  .image-size{
    width: 85%;
  }
  .row{
    --bs-gutter-x: 0 !important;
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .padding-row{
    padding-top: 30px !important;
    padding:30px;
  }
  .padding-card{
    padding: 30px 30px 0px 30px;
  }
  .padding-footer{
    padding: 20px 40px 20px 40px;
  }
  .font-footer{
    font-size: 16px;
  }
  .crad-image{
    width: 285px;
    height: 380px;
    background-color:#AACCEB;
    margin-bottom: 0px;
  }
  .image-size{
    width: 100%;
  }
  .row{
    --bs-gutter-x: 1.5rem !important;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .padding-row{
    padding-top: 50px !important;
    padding:40px;
  }
  .padding-card{
    padding: 60px 60px 0px 60px;
  }
  .padding-footer{
    padding: 40px 100px 10px 100px;
  }
  .font-footer{
    font-size: 16px;
  }
  .crad-image{
    width: 285px;
    height: 380px;
    background-color:#AACCEB;
    margin-bottom: 0px;
  }
  .card-roadmap{
    width: 450px !important;
    height: 180px !important;
    background: #23233F !important;
    border-radius: 25px !important;
  }
  .image-size{
    width: 100%;
  }
  .row{
    --bs-gutter-x: 1.5rem !important;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container{
    max-width: 1200px !important;
  }
  .banner-hero{
    height: 700px;
  }
  .padding-row{
    padding-top: 80px !important;
    padding:60px;
  }
  .padding-card{
    padding: 80px 80px 0px 80px;
  }
  .padding-footer{
    padding: 40px 100px 10px 100px;
  }
  .font-footer{
    font-size: 18px;
  }
  .crad-image{
    width: 285px;
    height: 380px;
    background-color:#AACCEB;
    margin-bottom: 0px;
  }
  .image-size{
    width: 100%;
  }
  .card-roadmap{
    width: 450px !important;
    height: 180px !important;
    background: #23233F !important;
    border-radius: 25px !important;
  }
  .row{
    --bs-gutter-x: 1.5rem !important;
  }
}

/* -------------------------#hover------------------------ */
.menu-bar li:hover a {
  color:#FFFFFF !important;
  border: 0;
}

.menu-bar li:hover {
	cursor: pointer;
  background: #469EEB !important;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  display: block;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 470px;
  top: 85px;
  background: #FFFFFC;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown > a:hover {
	background: #469EEB !important;
}

.carousel-control-prev-custom:hover{
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.carousel-control-next-custom:hover{
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

/* -------------------------#css code------------------------ */

html, body {
  font-family: 'Prompt', sans-serif;
  background-color: #FDF5E8;
}

#app {
  font-family: 'Prompt', sans-serif;
}

.font-wght {
  font-family: 'PromptBold', sans-serif !important;
  font-weight: bold !important;
}

.background-main {
  background-color: #FDF5E8 !important;
}

a{
  text-decoration: none !important;
}

.navbar-custom {
  padding: 5px;
  border-radius: 50px;
}

.navbar-item{
  background-color: #FFFFFF;
  transition: 0.3s;
}

.border-menu{
  border-left: 1px solid #E5E5E5;
}

[class^="bi-"]::before, [class*=" bi-"]::before{
  font-weight:600 !important
}

.btn-icon{
    padding: 13px 15px !important;
    border-radius: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.shadow-filter{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.nav-link{
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-right: 16px !important;;
  padding-left: 16px !important;;
  margin-top: 5px;
  margin-bottom: 5px;
}

li{
  padding-top: 5px;
  padding-bottom: 5px;
}

.text-w-400{
  font-weight: 400 !important;
}

.text-w-500{
  font-weight: 500 !important;
}

.text-w-700{
  font-weight: 700 !important;
}

.text-s-16{
  font-size: 16px !important;
}

.text-s-18{
  font-size: 18px !important;
}

.text-s-30{
  font-size: 30px !important;
}

hr{
  opacity: 0.5 !important;
}

.text-description{
  line-height: 24px;
  letter-spacing: 0.02em;
  color:#373737;
}

.text-c-menu{
  color: #50151C !important;
  Fill:solid !important;
}

.crad{
  background: #FBFBFB;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  border-radius: 40px 40px 0px 0px;
}

.btn-black{
  width: 184px !important;
  height: 40px !important;
  color: #ffffff !important;
  background: #231F20 !important;
  border-radius: 20px !important;
  border:0 !important;
}

.btn-transparent {
  width: 169px !important;
  height: 40px !important;
  color: #F38100 !important;
  background-color: #fff !important;
  border: 1px solid #F38100 !important;
  box-sizing: border-box !important;
  border-radius: 20px !important;
}

.btn-orange {
  width: 184px !important;
  height: 40px !important;
  color: #FFFFFF !important;
  background-color: #F38100 !important;
  border: 1px solid #F38100 !important;
  box-sizing: border-box !important;
  border-radius: 20px !important;
}

.card{
  border: 0 !important;
}

.card-shadow{
  border-radius: 20px;
  box-shadow: 0px 0px 60px rgb(0 0 0 / 20%);
}

.carousel-indicators [data-bs-target]{
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.carousel-control-next-custom{
    position: absolute;
    border-radius: 0px 30px 30px 0px;
    top: 115px;
    bottom: 480px;
    left: 450px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-control-prev-custom{
    position: absolute;
    border-radius: 30px 0px 0px 30px;
    top: 115px;
    bottom: 480px;
    right: 558px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

ul li ul {
	visibility: hidden;
  opacity: 0;
	position: absolute;
  transition: all 0.5s ease;
  display: none;
}

ul li ul li {
	clear: both;
  width: 100%;
}

.fabs {
    bottom: 10px;
    position: fixed;
    margin: 1em;
    right: 10px;
    z-index: 998;
    
  }
  
  .fab {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    text-align: center;
    color: #f0f0f0;
    margin: 25px auto 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    cursor: pointer;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    position: relative;
    z-index: 998;
    overflow: hidden;
    background: #42a5f5;
  }
  
  .fab > i {
    font-size: 2em;
    line-height: 55px;
    -webkit-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .fab:not(:last-child) {
    width: 0;
    height: 0;
    margin: 20px auto 0;
    opacity: 0;
    visibility: hidden;
    line-height: 40px;
  }
  
  .fab:not(:last-child) > i {
    font-size: 1.4em;
    line-height: 40px;
  }
  
  .fab:not(:last-child).is-visible {
    width: 40px;
    height: 40px;
    margin: 15px auto 10;
    opacity: 1;
    visibility: visible;
  }
  
  .fab:nth-last-child(1) {
    -webkit-transition-delay: 25ms;
    transition-delay: 25ms;
  }
  
  .fab:not(:last-child):nth-last-child(2) {
    -webkit-transition-delay: 20ms;
    transition-delay: 20ms;
  }
  
  .fab:not(:last-child):nth-last-child(3) {
    -webkit-transition-delay: 40ms;
    transition-delay: 40ms;
  }
  
  .fab:not(:last-child):nth-last-child(4) {
    -webkit-transition-delay: 60ms;
    transition-delay: 60ms;
  }
  
  .fab:not(:last-child):nth-last-child(5) {
    -webkit-transition-delay: 80ms;
    transition-delay: 80ms;
  }

  .social-chat{
    border-radius: 50%;
    width: 56px;
    height: 56px;
    color: #ffffff;
    background: linear-gradient(180deg, #7BB2DD 0%, #4B6ECC 100%);
    cursor: pointer;
  }

  .item-center{
    display: block;
    margin: 0 auto;
  }

  .item-center-absolute{
    position: absolute;
    z-index: 99999;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }