.menu-bar li:hover {
	cursor: pointer;
  background: #469EEB !important;
}

.menu-bar li:hover a {
  color:#FFFFFF !important;
  border: 0;
}

ul li ul {
	visibility: hidden;
  opacity: 0;
	position: absolute;
  transition: all 0.5s ease;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  display: block;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 470px;
  top: 85px;
  background: #FFFFFC;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

ul li ul li {
	clear: both;
  width: 100%;
}

.dropdown > a:hover {
	background: #469EEB !important;
}

.fabs {
    bottom: 10px;
    position: fixed;
    margin: 1em;
    right: 10px;
    z-index: 998;
    
  }
  
  .fab {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    text-align: center;
    color: #f0f0f0;
    margin: 25px auto 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    cursor: pointer;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    position: relative;
    z-index: 998;
    overflow: hidden;
    background: #42a5f5;
  }
  
  .fab > i {
    font-size: 2em;
    line-height: 55px;
    -webkit-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .fab:not(:last-child) {
    width: 0;
    height: 0;
    margin: 20px auto 0;
    opacity: 0;
    visibility: hidden;
    line-height: 40px;
  }
  
  .fab:not(:last-child) > i {
    font-size: 1.4em;
    line-height: 40px;
  }
  
  .fab:not(:last-child).is-visible {
    width: 40px;
    height: 40px;
    margin: 15px auto 10;
    opacity: 1;
    visibility: visible;
  }
  
  .fab:nth-last-child(1) {
    -webkit-transition-delay: 25ms;
    transition-delay: 25ms;
  }
  
  .fab:not(:last-child):nth-last-child(2) {
    -webkit-transition-delay: 20ms;
    transition-delay: 20ms;
  }
  
  .fab:not(:last-child):nth-last-child(3) {
    -webkit-transition-delay: 40ms;
    transition-delay: 40ms;
  }
  
  .fab:not(:last-child):nth-last-child(4) {
    -webkit-transition-delay: 60ms;
    transition-delay: 60ms;
  }
  
  .fab:not(:last-child):nth-last-child(5) {
    -webkit-transition-delay: 80ms;
    transition-delay: 80ms;
  }

  .chat{
    font-size: 40px;
    border-radius: 50%;
    padding: 0px 10px 0px 10px;
    color: #ffffff;
    background: linear-gradient(180deg, #7BB2DD 0%, #4B6ECC 100%);
    cursor: pointer;
  }

  .item-center{
    display: block;
    margin: 0 auto;
  }

  .item-center-absolute{
    position: absolute;
    z-index: 99999;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }